#modal-background-cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: var(--zIndex-modal);
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
#modal {
  color: black;
  padding: 1rem 2rem;
  background-color: white;
  cursor: auto;
}
#modal-items-container {
  display: flex;
  max-width: 80vw;
  overflow-x: scroll;
}
#purchase-button {
  margin-top: 1rem;

  border: none;
  outline: none;
  padding: 0.6rem 0.95rem 0.6rem 0.95rem;
  color: white;
  background-color: var(--main-orange);
  cursor: pointer;
}
